.container {
  background: var(--navBarPrimary);
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: inherit;
  margin: auto;
  max-width: 900px;
  padding: 0 var(--paddingSide);
}

.navlinks {
  display: flex;
  gap: 16px;
}

.navlink {
  color: var(--textPrimaryInverse);
  cursor: pointer;
}

.navlink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .section {
    justify-content: space-between;
    padding: 0 0 0 var(--paddingSide);
    width: 100%;
  }

  .navlinks {
    display: none;
  }
}
