.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  border: 1px solid var(--textAccent);
  border-radius: 8px;
  padding: 32px;
}

.card h4 {
  letter-spacing: -1px;
}
