.TLDR {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--textPrimary);
}

.bevalixCards {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.titleText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.theScoreCards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.img {
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 730px) {
  .mobileCards {
    display: flex;
    flex-direction: column;
  }
}
