.featured {
  color: var(--textSecondary);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -56px;
}

.featured span {
  color: var(--linkDefault);
  text-decoration: underline;
  cursor: pointer;
}

.featured ul {
  display: flex;
  gap: 8px;
}

.divider {
  background: var(--dividerDefault);
  height: 1px;
  width: 100%;
}

.marginLarge {
  margin: calc(80px - 56px) 0;
}

.moreToCome {
  background: var(--siteBgTertiary);
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 40px 24px;
}

.logoContainer {
  display: flex;
}

.logoContainer img {
  width: 50%;
}

@media screen and (max-width: 650px) {
  .logoContainer {
    flex-direction: column;
  }
  .logoContainer img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .featured ul {
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) {
  .featured li::after {
    content: '•';
    color: var(--linkDefault);
    margin-left: 8px;
  }

  .featured li:last-child:after {
    content: '';
  }
}
