.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.circle {
  align-items: center;
  border-radius: 100px;
  background: var(--armygreen100);
  display: flex;
  font-size: 17px;
  height: 40px;
  justify-content: center;
  width: 40px;
}
