.container {
  background: var(--navBgOverlayMobile);
  backdrop-filter: blur(5px);
  /* display: flex; */
  height: 500px;
  position: fixed;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 60px);
  opacity: 0;
  overflow: scroll;
  transition: opacity 0.3s ease;
  /* z-index: -1; */
  display: none;
}

.fadeIn {
  opacity: 1;
  z-index: 1;
  display: flex;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin: auto;
  padding: 56px 0;
  width: fit-content;
}

.menuTitle {
  color: var(--white75);
  margin-bottom: 16px;
}

.menuItem,
.menuItem a {
  color: var(--textPrimaryInverse);
  cursor: pointer;
  text-decoration: none;
}

.menuItem:nth-of-type(4) {
  margin-bottom: 48px;
}

.menuItem:nth-of-type(2),
.menuItem:nth-of-type(3),
.menuItem:nth-of-type(5),
.menuItem:nth-of-type(6) {
  margin-bottom: 15px;
}
