.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--textPrimary);
}

.listContainer {
  list-style: disc;
  margin-left: 24px;
}

@media screen and (min-width: 600px) {
  .container:last-child::before {
    content: "";
  }
}
