.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--textPrimary);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listContainer {
  list-style: disc;
  margin-left: 24px;
}
