.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin: auto;
  margin-top: 60px;
  max-width: 900px;
  padding: var(--paddingTopBottom) var(--paddingSide);
}

.columnReverse {
  display: flex;
  flex-direction: column-reverse;
}
