.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-top: 60px;
  padding: var(--paddingTopBottom) 0;
}

.pageContent {
  animation-delay: 500ms;
}

.mainImg {
  width: 100%;
}
