.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin: auto;
  margin-top: 60px;
  max-width: 900px;
  padding: var(--paddingTopBottom) var(--paddingSide);
}

.pageContent {
  animation-delay: 500ms;
}
