.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textContainer span {
  color: var(--textPrimary);
}

.textContainer span:nth-child(3) {
  display: block;
  margin-top: -8px;
}
