.numberedCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.doubleContainerParent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .numberedCardContainer {
    gap: 24px;
  }
}
