.navBtn {
  background: var(--navBarSecondary);
  height: inherit;
  position: relative;
  width: 60px;
}

.menuContainer {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 20px;
}

.menuLine {
  background: var(--iconPrimaryInverse);
  display: block;
  border-radius: 1px;
  height: 1px;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  width: 100%;
}

.menuLine:first-of-type {
  top: 0;
}
.menuLine:last-of-type {
  bottom: 0;
}

.menuLine:nth-last-child(1) {
  width: 13px;
}

.open {
  height: 12px;
  width: 22px;
}

.open .menuLine:first-of-type {
  top: 5px;
  transform: rotate(45deg);
}

.open .menuLine:last-of-type {
  bottom: 5.6px;
  transform: rotate(-45deg);
  width: 100%;
}
