.navBtn {
  background: var(--navBarSecondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 0;
  position: relative;
  width: 60px;
}

.menuContainer {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.menuLine {
  position: absolute;
  display: block;
  height: 1px;
  background: var(--iconPrimaryInverse);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  width: 100%;
}

.menuLine:first-of-type {
  top: 0;
}
.menuLine:last-of-type {
  bottom: 0;
}

.menuLine:nth-last-child(1) {
  width: 13px;
}

.open .menuLine:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}

.open .menuLine:last-of-type {
  width: 100%;
  transform: rotate(-45deg);
  bottom: 5.6px;
}
